<head>
    <script src="/scripts/upload.js"></script>
</head>
<div class="text-center">
    <h1 class="display-4">Dropbasket</h1>
    <form method="post" enctype="multipart/form-data">
        <div id="fileBasket" class="filebasket" style="background-color:#cceebb">
        Dragn drop files here
        </div>
    </form>
</div>
