@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-action="Dropbasket">Dropbasket</a>
    <a class="btn btn-primary" asp-action="Dropzone" data-toggle="tooltip" title="olol" data-placement="top">Dropzone</a>
</div>

